<!DOCTYPE html>
<html>
<head>
    <title>@mhkeller's CartoDB Leaflet template - </title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      .hover-window{
        position:absolute;
        width:150px;
        font-family: Helvetica,sans-serif;
        font-size:12px;
        text-align: center;
        padding:5px;
        background-color:rgb(255,255,255);
        background-color:rgba(255,255,255,.85);
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        behavior: url(border-radius.htc);
        z-index:99999;
        display: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    </style>


    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.css" />

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
    <![endif]-->
</head>
<body>
    <div id="map-canvas"></div>
    <!-- Hover window -->
    <div class="hover-window"></div>

    <script type="text/jst" id="point-hover-templ">
        <div>
            <b><a href="<%= url %>"><%= name %></a></b>
            <p><%= description %></p>
            <p><%= handles %></p>
        
        </div>
    </script>

    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v2/cartodb.js"></script>
    <script>

    (function(){
        // Change this: find the latitute and longitude for the center of your map
        // and figure out what zoom level will work best for you.
        var map = L.map('map-canvas', {
            center: [38.651198,-98.920898],
            zoom: 3
        });
        // Disable scroll on mouseWheel or two-finger trackpad scroll
        map.scrollWheelZoom.disable();

        // Change this: you can find the tile layer for your map in your viz.json
        // if you don't know how to read viz.json, check out http://jsonlint.com/
        L.tileLayer('http://tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
        // Change this: you can add more to the attribution. This is a good place
        // to credit the source(s) of your map data.
            attribution: '<a href="http://maps.stamen.com">Toner Lite by Stamen</a>'
        }).addTo(map);

        // Change this: click the "share" button on your map and grab the API URL.
        // it should end with viz.json
        cartodb.createLayer(map, 'http://cunydata.cartodb.com/api/v1/viz/episode_2/viz.json', {
            query: 'select  *, ST_AsGeoJSON(the_geom) as geometry from {{table_name}}',
            // Change this: keep "cartodb_id" and "geometry", but add any fields that
            // you want to use in your info windows.
            interactivity: 'cartodb_id, geometry, name, url, handles, description, country',
            infowindow: false
        })
            .on('done', function(layer) {
                map.addLayer(layer);

            layer.on('featureOver', function(e, pos, latlng, data) {
                $('.leaflet-container').css('cursor','pointer');
                if (data.cartodb_id != point.cartodb_id) {
                    drawHoverPoint(data);
                }
            });

            layer.on('featureOut', function(e, pos, latlng, data) {
                $('.leaflet-container').css('cursor','default')
                removePoint();
            });

            layer.on('error', function(err) {
            });

        }).on('error', function() {
        });


        var point = {};

        // Change this: to control the look of your point on hover
        var point_style = {
            radius: 6,
            color: "#FFCC00",
            weight: 2,
            opacity: 1,
            fillColor: "#FF6600",
            fillOpacity: 1,
            clickable: false
        }

        function drawHoverPoint(data){
            removePoint();

            point = new L.GeoJSON(JSON.parse(data.geometry),{
                pointToLayer: function(feature,latlng) {
                    return new L.CircleMarker(latlng, point_style);
                }
            }).addTo(map);

            fillHoverWindow(data);

        }

        function removePoint(){
            map.removeLayer(point);
            point.cartodb_id = null;
            hideHoverWindow();
        }


        /* HOVER WINDOW BEHAVIOR */
        var $map_canvas = $('#map-canvas');
        var $hover_window = $('.hover-window');

        var formatHelpers = {
            // Change this: or don't, but there's a nice example of an if/else statement
            // and an insight into how to add functions to the formatHelpers variable.
            // note that this example doesn't use either one of these.
            makeNice: function(text){
                if (text != 'N/A'){
                    return '<strong>' + text + '%</strong>'
                } else {
                    return '<strong>' + text + '</strong>'
                }
            }, makeBold: function(text){
                return '<strong>' + text + '</strong>'
            }
        }

        // Underscore templating
        var hover_template = $('#point-hover-templ').html();
        var hover_template_factory = _.template(hover_template);


        function fillHoverWindow(data){
            _.extend(data, formatHelpers)
            var content = hover_template_factory(data);
            $hover_window.html(content)
            $hover_window.show();
        }

        function hideHoverWindow(data){
            $hover_window.hide();
        }

        $map_canvas.mouseleave(function(e){
            hideHoverWindow();
            removePoint();
        })

        $map_canvas.mousemove(function(e){
            var xOffset = e.pageX
              , yOffset = e.pageY
              , xBuffer = 10
              , yBuffer = 50

              , hover_window_height = $hover_window.outerHeight()
              , hover_window_width = $hover_window.outerWidth()

              , map_canvas_height = $map_canvas.outerHeight()
              , map_canvas_width = $map_canvas.outerWidth()

              , map_canvas_offset_left = $map_canvas.offset().left
              , map_canvas_offset_top = $map_canvas.offset().top;

            // If it goes against the left wall
            if (xOffset < map_canvas_offset_left  + hover_window_width/2 + xBuffer){
              $hover_window.css({
                'top': yOffset + yBuffer,
                'left': xBuffer
              });
            }// If it goes against the right wall
            else if(xOffset > map_canvas_width - hover_window_width/2 - xBuffer){
              $hover_window.css({
                'top': yOffset + yBuffer,
                'left': map_canvas_width - hover_window_width - xBuffer
              });
            }// If it goes against the bottom
            else if(yOffset > map_canvas_height - hover_window_height - yBuffer){
              $hover_window.css({
                'top': yOffset - yBuffer/2 - hover_window_height,
                'left': xOffset - hover_window_width/2
              });
            }else{
              $hover_window.css({
                'top': yOffset + yBuffer,
                'left': xOffset - hover_window_width/2
              });
            }
        });

    }).call(this);

  </script>

</body>
</html>
